[user]
	name = Boikobetso Nojoko
	email = koko.nojoko1@gmail.com

[init]
	defaultBranch = main

[core]
	editor = nvim
	pager = delta
	autocrlf = input

[push]
	autoSetupRemote = true
	default = current

[pull]
	rebase = false

[rebase]
	autoStash = true

[rerere]
	enabled = true

[merge]
	conflictstyle = zdiff3

[diff]
	algorithm = histogram
	colorMoved = default

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	hyperlinks = true

[interactive]
	diffFilter = delta --color-only

[alias]
	co = checkout
	br = branch
	st = status -sb
	lg = log --graph --oneline --decorate --all --date=short --pretty=format:'%C(auto)%h %C(blue)%ad %C(green)%an%C(auto)%d %s'
	undo = reset --soft HEAD~1
	amend = commit --amend --no-edit
	wip = "!git add -A && git commit -m 'wip'"
	gone = "!git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' refs/heads | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
